<web-app xmlns="http://java.sun.com/xml/ns/javaee" version="3.0">

    <jsp-config>
        <jsp-property-group>
            <url-pattern>*.jsp</url-pattern>
            <page-encoding>UTF-8</page-encoding>
        </jsp-property-group>
    </jsp-config>

    <context-param>
        <param-name>db.url</param-name>
        <param-value>jdbc:mysql://localhost:3306/lesson_web_java</param-value>
    </context-param>
    <context-param>
        <param-name>db.user</param-name>
        <param-value>root</param-value>
    </context-param>
    <context-param>
        <param-name>db.password</param-name>
        <param-value>Swimming3003</param-value>
    </context-param>

</web-app>
